name: Maven PR Build

# We require all commits go through PR on GitHub
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Maven PR Builder (JDK ${{ matrix.java }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 21, 25 ]
        maven: [ 3.8.6 ]
        jdk: [ temurin ]

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install JDK ${{ matrix.java }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          cache: maven
          distribution: ${{ matrix.jdk }}
          java-version: ${{ matrix.java }}

      - name: Set up Maven if needed
        uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
        with:
          maven-version: ${{ matrix.maven }}

      - name: Build with Maven
        run: |
              mvn -V --no-transfer-progress --batch-mode ${{ secrets.BUILD_PROPERTIES }} \
              -DlogLevel=DEBUG -DtestLogLevel=DEBUG \
              -Dorg.slf4j.simpleLogger.log.net.sourceforge.pmd=error \
              clean verify
